<div>
  <h1>Members</h1>
  <p>Here is a list of our most involved members of the Kirby Club. If you want
    to see what events we have worked on click on our names</p>

</div>

<body>
<div class="card-container"></div>
    {{#each members}}
    <div class="card">
      <h2>{{this.username}}</h2>
      <p><strong>First Name:</strong> {{this.fname}}</p>
      <p><strong>Last Name:</strong> {{this.lname}}</p>
      <p><strong>Email:</strong> {{this.email}}</p>
      <p><strong>Member Since:</strong> {{this.joined_date}}</p>
    </div>
    {{/each}}
  </div>
</body>