<div>
  <h1>Members</h1>
  <p>Here is a list of all the members of the Kirby Club</p>
</div>

<div>
  <h1>{{username}}</h1>
  <p>{{fname}}</p>
  <p>{{lname}}</p>
  <p>{{joined-date}}</p>
  <p>{{phone}}</p>
  <p>{{email}}</p>
</div>